<div class="display-6 d-flex flex-row  mb-2 bg-light border "> 
  <div class="me-5">   Employee Manager App </div>
<a class="ms-5 btn btn-light border "> Add Employee </a>


</div>


<div > 

  <div class="container d-flex flex-row flex-wrap justify-content-evenly"> 

 <div *ngFor="let employee of employees" class="m-2" >
    <div class="card" style="width: 12rem;">
      <img src="{{employee?.imageUrl}}" class="card-img-top" alt="{{employee.name}}">
      <div class="card-body">
        <h5 class="card-title">{{employee?.name}}</h5>
        <p>Email: {{employee?.email}}</p>
        <p >Job Title: {{employee?.jobTitle}}</p>
        <p >Is Team: {{employee?.isTeam ? 'Yes' : 'No'}}</p>

        <div> <button class="btn  m-1 btn-success">
          <i class="fa-solid fa-file-pen"></i> </button> 
          <button class="m-1 btn btn-danger"> 
            <i class="fa-solid fa-trash"></i></button> 
          </div>

      </div>
    </div>
    </div>

  </div>


  
</div>