<div class="bg-dark">

  <nav class="navbar navbar-expand-md navbar-dark p-2 bg-dark justify-content-between">

    <!-- <button type="button" class="me-0 btn btn-dark text-light border p-2" data-bs-toggle="modal"
      data-bs-target="#addEmployee"> Add Employee <i class="fa-solid fa-plus"></i>
    </button> -->

    <div class=" btn btn-dark text-light border p-2" (click)="onOpenModal(null,'add')">Add Employee <i
        class="fa-solid fa-plus"></i> </div>

    <h4 class="navbar-brand"> Employee Manager App</h4>
    <form class="form-inline my-2 my-md-0 ">
<!-- au lieu d'utiliser le form on va faire une référence locale sur l'input avec ngModel -->
      <input (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
       name="key" class="form-control p-1"
        type="search" 
        placeholder="Search Employee">
    </form>
  </nav>


  <!-- Add Employee Modal  -->
  <div class="modal fade  p-5 m-auto" id="addEmployee" tabindex="-1" aria-labelledby="addEmployeeLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-3 ">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeLabel">Add Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">

            <div class="form-group ">

              <label for="name">Name</label>
              <input type="text" class="form-control" required ngModel name="name" >
       
              <label for="email">Email</label>
              <input type="text" class="form-control" required ngModel name="email" >

 
              <label for="jobTitle">Job Title</label>
              <input type="text" class="form-control" required ngModel name="jobTitle" >

              <div class="btn-group d-flex mt-4" role="group" required>
                <label class="btn btn-team active">
                  <input type="radio" name="isTeam" value="true" checked> In Team
                </label>
                <label class="btn btn-team">
                  <input type="radio" name="isTeam" value="false"> Not in Team
                </label>
              </div>
              <br>

              <label for="imageUrl">Url Image</label>
              <input type="text" class="form-control" ngModel name="imageUrl" required >

            </div> 
          <div class="mt-3 modal-footer">
          <button type="submit" [disabled]="addForm.invalid" class="mt-2 btn btn-success m-1 p-1">Save</button>
          <button type="button" id="addEmployeeCancelBtn" class="mt-2 btn btn-danger m-1 p-1" data-bs-dismiss="modal">Cancel</button>

        </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <!-- Edit Employee modal  -->
  <div class="modal fade  p-5 m-auto" id="updateEmployee" tabindex="-1" aria-labelledby="updateEmployeeLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-3 ">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmployeeLabel">Edit Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form #editForm="ngForm">
            <div class="form-group ">

              <!-- il faut simuler l'id pour angular sinon ca ne fonctionne pas -->
              <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" id="id">
              <label for="name">Name</label>
              <input type="text" pattern="[A-Za-z0-9 '-]+" maxlength="50" ngModel="{{editEmployee?.name}}" class="form-control" name="name" id="name" placeholder="{{editEmployee?.name}}">
              <label for="email">Email</label>
              <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  maxlength="255" ngModel="{{editEmployee?.email}}" class="form-control" name="email" id="email" placeholder="{{editEmployee?.email}}">
              <label for="jobTitle">Job Title</label>
              <input type="text" pattern="[A-Za-z0-9 '-]+" maxlength="50" ngModel="{{editEmployee?.jobTitle}}"  class="form-control" name="jobTitle" id="jobTitle" placeholder="{{editEmployee?.jobTitle}}">
              <label for="isTeam">Is part of the Team ?</label>
              <select name="isTeam" id="isTeam">
                <option value="true">yes</option>
                <option value="false">no</option>
              </select><br>
              <label for="imageUrl">Url Image</label>
              <input type="url" pattern="https?://.+" maxlength="2048" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="{{editEmployee?.imageUrl}}">
            </div>  
                  <div class="modal-footer">

          <button (click)="onUpdateEmployee(editForm.value)" type="submit" class="btn btn-success m-1 p-1">Save</button>
          <button type="button" id="updateEmployeeCancelBtn" class="btn btn-danger m-1 p-1" data-bs-dismiss="modal">Cancel</button>
        </div>
          </form>


        </div>

      </div>
    </div>
  </div>

  <!-- Delete Modal-->

  <div class="modal fade  p-5 m-auto" id="deleteEmployee" tabindex="-1" aria-labelledby="deleteEmployeeLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-3 ">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteEmployeeLabel">Delete Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this employee {{deleteEmployee?.name}} ? 
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onDeleteEmployee(deleteEmployee!.id)" class="btn btn-success m-1 p-1">Yes</button>
          <button type="button" id="deleteEmployeeCancelBtn" class="btn btn-danger m-1 p-1" data-bs-dismiss="modal">No</button>

        </div>
      </div>
    </div>
  </div>

<!-- Card -->
  <div class="container " id="main">
    <div class="row justify-content-evenly">

      <div class="col-lg-2 m-2" *ngFor="let employee of employees">
        <div class="card p-0">
          <div class="card-image">
            <img src="{{employee?.imageUrl}}" alt="{{employee.name}}">
          </div>
          <div class="card-content d-flex flex-column align-items-center">
            <h4 class="pt-2 mb-3">{{employee.name}}</h4>
            <h5>{{employee?.jobTitle}}</h5>
            <p class="mt-3">{{employee?.email}}</p>
            <p> Selected ? {{employee?.isTeam ? 'Yes' : 'No'}} </p>
            <ul class="social-icons d-flex justify-content-center">
              <li style="--i:1">
                <div (click)="onOpenModal(employee,'edit')" class="btn p-1 btn-success">
                  <i class="fa fa-pencil"></i>
                </div>
              </li>
              <li style="--i:2">
                <div (click)="onOpenModal(employee,'delete')" class="btn p-1 btn-danger">
                  <i class="fa-solid fa-xmark"></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- error message -->
  <div *ngIf="employees.length == 0" class="container bg-dark text-light">
    <!-- Assuming that 'employees' is an array in your component -->
    <div  class="mt-5">
        <h4>No employee found.</h4>
    </div>
    </div>
  </div>


</div>


</div>